.navigate {
	box-shadow: 2px 0px 15px rgba(0,0,0,0.3);
	background-color: #BFB09A;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
}

body {
	background-color: #FFEBCD;
}